{% extends 'base.html.twig' %}
{% block body %}

    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>ID</th>
            {% for shortName, generator in generators %}
                <th>{{ shortName }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}
                </td>
                <td>
                    {{ product.id }}
                </td>
                {% for shortName, generator in generators %}
                    <td>
                        {% set barcodeData = barcode(product.name, generator_class=generator.class) %}
                        {% if generator.imageFormat %}
                            <img src='data:{{ generator.imageFormat }};base64,{{ barcodeData }}' />
                        {% else %}
                            {{ barcodeData|raw }}
                        {% endif %}
                        <br />{{ product.name }}
                    </td>
                {% endfor %}

            </tr>

        {% endfor %}

        </tbody>

    </table>

    {{ component('divider') }}

    <h3>Extension Check</h3>
    <ul>
    {% for ext, isLoaded in extensions %}
        <li><span class="text-{{ isLoaded ? 'success' : 'danger' }}">{{ ext }}, {{ isLoaded ? 'yes' : 'no' }}</span> </li>
    {% endfor %}
    </ul>
{% endblock %}
